video-download {
  position: relative;

  > button:hover ~ div,
  div:hover {
    position: absolute;
    bottom: 100%;
    display: block;
    z-index: 10;
    left: -15px;
  }

  a {
    background: #212121;
    padding: 1rem;
    color: rgba(255,255,255,0.5);

    &:hover {
      background: #424242;
      color: rgba(255,255,255,1);
    }
  }

  div {
    display: none;
  }
}
