marker-timeline {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 10px;
  background: #333;
  z-index: 1;

  seek-indicator,
  progress-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: #212121;
  }

  progress-indicator {
    background: #a41034;
  }

  seek-indicator {
    transform: translateX(-1px);
  }

  a {
    position: absolute;
    display: block;
    width: .5rem;
    max-width: 1%;
    height: 100%;
    z-index: 1;
    transform: translateX(-100%);
    background: rgba(0,0,0,.2);
    &:hover {
      background: rgba(0,0,0,.5);
      &::after {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -125%);
        background: #000;
        padding: 5px;
        z-index: 9999;
        color: #fff;
        white-space: nowrap;
      }
    }
    &:nth-of-type(1):hover::after,
    &:nth-of-type(2):hover::after,
    &:nth-of-type(3):hover::after {
      transform: translate(0%, -125%);
    }
    &:nth-last-of-type(1):hover::after,
    &:nth-last-of-type(2):hover::after,
    &:nth-last-of-type(3):hover::after {
      transform: translate(-100%, -125%);
    }
  }

  @media (orientation: portrait) {
    chapter- {
      max-width: 2px;
      pointer-events: none;
    }
  }
}

[experience='ex'] marker-timeline explained- {
    display: block;
    position: absolute;
    width: 10px;
    height: 100%;
    background: #999;
    border-radius: 50%;
    transform: translateX(-80%) translateY(-50%);
    z-index: 2;
  }
