video-controls {
  display: flex;

  > *+* {
    border-left: 1px solid #000;
  }

  [disabled] {
    display: none !important;
  }

  .active {
    background: #a41034;
  }

  button {
    padding: .75rem;
    background: #212121;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: rgba(255,255,255,0.8);
    }

    &:hover svg {
      fill: rgba(255,255,255,1);
    }
  }
  .video-play-pause.playing {
    svg:first-child {
      display: none;
    }
  }
  .video-play-pause:not(.playing) {
    svg:last-child {
      display: none;
    }
  }
  .video-captions.active {
    background: #a41034;
  }
}

video-controls.mobile {

  button {
    padding: 1rem;
  }

  .seek-play-pause {
    display: none;
  }
}
