sidebar-button {
  @media (orientation: landscape) {
    button {
      position: fixed;
      top: 0;
      right: 0;
      background: #212121;
      padding: 1rem;
      z-index: 20;
      transition: all .3s ease;
      transform: translateX(0%);

      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: rgba(255,255,255,0.8);
      }

      &:hover svg {
        fill: rgba(255,255,255,1);
      }
    }

    [active] {
        background: #a41034;
    }
  }
  @media(orientation: portrait) {
    display: none;
  }
}

body.mouse-idle:not(.dialog-open) sidebar-button {
  button {
    transform: translateX(100%);;
  }
}
