chapter-search {
  display: flex;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 2rem 0 rgba(0,0,0,0.4);

  > svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba(255,255,255,0.5);
    width: 2rem;
    height: 2rem;
  }

  input:hover ~ svg,
  input:focus ~ svg {
    fill: rgba(255,255,255,0.9);
  }

  input {
    flex: 1;
    background: #222;
    padding: 1.5rem;
    padding-left: 4rem;
    color: #fff;
  }
}

.searched:not(.matched) {
  display: none;
}
