language-select {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  @media (orientation: landscape) {
    right: 5rem;
  }

  select {
    height: 2rem;
    background: #424242;
    color: rgba(0,0,0,0.6);
    border: 1px solid #424242;
  }
}
