chapter-playback {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  color: rgba(255,255,255,0.5);
  flex: 1 1 auto;
  span {
    font-size: 1rem;
    margin-right: 1rem;
  }
  >*+* {
    margin-left: .2rem;
  }
  button {
    flex: 1 1 auto;
    padding: .5rem;
    font-size: .8rem;
    color: rgba(255,255,255,0.5);

    &:hover {
      color: rgba(255,255,255,0.75);
    }

    &.active {
      color: rgba(255,255,255,0.9);
    }
  }
}
