explained-chapters-toggle-button {
    position: relative;
    margin-left: auto;
    display: flex;

    @media (max-width: 400px) {
        display: none;
    }

    button {
      position: relative;
      padding: 1rem;
      font-size: .8rem;
      user-select: none;
      color: rgba(255,255,255,0.5);
      background-color: #121212;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: #fff;
      }

      &:not([active]):hover {
        background-color: #212121;
      }
    }

    [active] {
      background: #a41034;
    }
}
