video-playback {
  position: relative;

  > button:hover ~ div,
  div:hover {
    position: absolute;
    bottom: 100%;
    display: flex;
    z-index: 5;
    right: -100px;
  }

  button.active {
    background: #a41034;
  }

  div button {
    padding: 1rem;
  }

  div {
    display: none;
  }
}
