episode-list {
  display: flex;
  display: none;

  button {
    padding: .5rem;
    svg {
      width: 2rem;
      height: 2rem;
      fill: rgba(255,255,255,.9);
    }

  }

  button + button {
    border-left: 1px solid #000;
  }

  episode- {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex: 1 1 auto;
    text-align: center;
    color: rgba(255,255,255,.5);
    &:not(.active) {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: rgba(255,255,255,.9);
    }
  }
}
