video-main.primary {
  width: 100%;
  height: 100%;
  @media (orientation: portrait) {
    height: calc(100% - 3.5rem);
  }
}

video-main:not(.primary) {
  position: absolute;
  display: none;

  [experience='ms'] & {
    position: absolute;
    display: block;
    width: 25%;
    overflow: hidden;
    z-index: 2;
    border: 2px solid #212121;

    @media (orientation: portrait) {
      display: none;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 42%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
    }
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 250%;
      transform: translate(-50%, -50%);
    }
  }

  &:not(.primary):hover resize-  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #a41034;
    }

    &::after {
      content: '↘';
      color: rgba(255,255,255,.8);
      font-size: 12px;
    }
  }

}

body:not([experience='vr']) video-main {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
