@import "mixins";

.small {
    height: 800px;
    width: 800px;
    position: fixed;
    top: 50%;
    margin-top: -400px;
    left: 50%;
    margin-left: -400px;
}

body, html {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #F1F2F3;
    min-width: 600px;
}

.video50-left, .video50-right {
    position: absolute;
    top: 100px;
    bottom: 100px;
    z-index: 1;
    @include user-select(none);
}

.video50-left {
    left: 0px;
    width: 900px;
    border-right: 1px solid #111;
}

.video50-right {
    right: 0px;
    left: 901px;
    border-left: 1px solid #333;
}

.video50-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #222;
    font-family: HelveticaNeue;

    &.fullmode, &.fullscreen {
        background-color: black;

        .video50-dragger {
            display: none;
        }

        .video50-right {
            display: none;    
        }

        .video50-left {
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border: 0px;
        
            .video50-main-video-wrapper {
                left: 0px;
                right: 0px;
                -webkit-box-reflect: none;
            }
        }

        .video50-ancilliary-videos {
            list-style-type: none;
            position: absolute;
            top: 30px;
            right: 30px;
            left: auto;
            bottom: auto;

            > * {
                display: inline-block;
            }
        }
        
        .video50-cc-container {
            margin-bottom: 100px;
            
            .video50-cc-text {
                font-size: 24px;
                display: inline-block;
                color: white;
                padding: 10px 16px;
            }
        }   
    }
}

.video50-videos-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    .video50-main-video-wrapper {
        position: absolute;
        left: 30px;
        right: 30px;
        top: 50%;
        margin-top: -239px;
        cursor: pointer;   
        -webkit-box-reflect: below -2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255, 255, 255, .3)));
        background-color: black;
    }
}


.video50-control-bar {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #555;
    @include box-shadow(0px -1px 1px #111);
    @include background-linear-gradient(top, #333 19px, #2B2B2B 19px);
    height: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
}

.video50-dragger {
    position: absolute;
    width: 42px;
    top: 100px;
    bottom: 100px;
    left: 901px;
    margin-left: -21px;
    cursor: col-resize;
    z-index: 2;

    .video50-dragger-knob {
        position: absolute;
        width: 42px;
        height: 46px;
        top: 50%;
        margin-top: -23px;
        left: 50%;
        margin-left: -21px;
        background-image: url("/img/slider-empty.png");
        @include transition(.1s linear background-image);
    }

    &:hover, &:active {
        .video50-dragger-knob {
            background-image: url("/img/slider.png");
        }
    }
}

.video50-video {
    width: 100%;
    background-color: black;
    @include box-shadow(0px 0px 8px #111);
}

.video50-thumbnail-wrapper {
    position: absolute;
    bottom: 35px;
    background-color: black;
    padding: 3px;
    @include box-shadow(0px 0px 5px #111);
    @include background-linear-gradient(top, #222, #111);
    @include border-radius(2px);
    display: none;

    &:after {
        content: '';
        border: 5px solid transparent;
        border-top: 5px solid black;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
    }
}

.video50-thumbnail {
    background-color: black;
    width: 160px; 
    height: 90px; 
    background-position: 0px -180px; 
    background-repeat: initial initial;
    @include box-shadow(inset 0px 0px 5px #000);
    @include border-radius(2px);
}

.video50-source-video {
    position: relative;
    top: 0px;
}

.video50-ancilliary-videos {
    list-style-type: none;
    position: absolute;
    left: 30px;
    right: 30px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    margin-top: -183px;
    @include perspective(200px);
    @include perspective-origin(right 50%);
    @include backface-visibility(hidden);
    direction: rtl;

    > * {
        width: 327px;
        @include transform(rotateY(-2deg));
        direction: ltr;
        cursor: w-resize;
        margin-bottom: 5px;
    }
}

.video50-left-controls > *, .video50-right-controls > *, .video50-timeline {
    position: relative;
    cursor: pointer;
}

.video50-left-controls, .video50-right-controls {
    line-height: 30px;

    > * {
        display: inline-block;
        vertical-align: top;
    }
}

.video50-time {
    position: absolute;
    left: 110px;
    right: 195px;
    top: 0px;
    bottom: 0px;
}

.video50-timeline-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 45px;
    right: 45px;
}

.video50-timeline {
    position: absolute;
    left: 0px;
    top: 13px;
    bottom: 15px;
    right: 0px;
    @include background-linear-gradient(top, #1F1F1F, #313131);
    @include border-radius(10px);
    border: 1px solid #202020;
    @include box-shadow("0px 1px 1px #444");
    z-index: 2;
    overflow: hidden; 
}

.video50-progress {
    width: 0%;
    height: 100%;
    z-index: 3;
    @include background-linear-gradient(top, #FCFCFC, #888);
}

.video50-timecode {
    float: left;
}

.video50-timelength {
    float: right;    
}

.video50-timelength, .video50-timecode {
    color: #DBDBDB;
    font-size: 11px;
    line-height: 39px;
    text-shadow: 0px 1px black;
    text-align: center;
}

.video50-left-controls {
    float: left;
}

.video50-right-controls {
    float: right;
}

.video50-control-icon {
    border: 5px solid transparent;
    background-image: url("/img/video50-icons.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    @include transition(.1s linear background-image);

    &:hover {
        background-image: url("/img/video50-icons-glow.png");
    }
}

.video50-play-pause-control {
    background-position: -30px 0px;
    width: 30px;

    &.pause {
        background-position: 0px 0px; 
    }
}

.video50-sb-control {
    background-position: -65px 0px;
    margin-left: 0px;
}

.video50-sf-control {
    background-position: -95px 0px;
}

.video50-download-control {
    background-position: -125px 0px;
}

.video50-speed-control {
    background-position: -155px 0px;
    position: relative;

    .video50-curspeed {
        position: absolute;
        bottom: 3px;
        right: -2px;
        background-color: red;
        color: white;
        @include border-radius(1px);
        @include box-shadow(1px 1px 1px black);
        font-size: 7px;
        line-height: 7px;
        padding: 1px;
        text-shadow: 0px 1px black;
    }
}

.video50-captions-control {
    background-position: -185px 0px;
}

.video50-quality-control {
    background-position: -215px 0px;
}

.video50-fullscreen-control {
    background-position: -245px 0px;
    border-right: 10px solid transparent;
}

.video50-transcript-control {
    background-position: -275px 0px;
}

.video50-transcript-container-wrapper {
    position: absolute;
    bottom: 42px;
    right: 0px;
    width: 500px;
    height: 300px;
    @include border-radius(2px);
    @include box-shadow(0px 0px 3px #111);
    font-family: HelveticaNeue;
    background-color: #333;
    display: none;

    &.external {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: auto;
        height: auto;
        @include border-radius(0px);
        @include box-shadow(none);

        .video50-transcript-search-wrapper .video50-transcript-popout {
            background-position: -360px 0px;
        }
    }
}
                        
.video50-transcript-search-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    border-top: 1px solid #555;
    @include background-linear-gradient(top, #333 19px, #2B2B2B 19px);
    @include box-shadow(0px 1px 1px #111);
    @include border-radius(2px 2px 0px 0px);
    z-index: 5;

    > * {
        vertical-align: middle;
    }

    .video50-transcript-search {
        @include border-radius(3px);
        @include background-linear-gradient(top, #1F1F1F, #313131);
        @include box-shadow("0px 1px 1px #444");
        border: 1px solid #202020;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        padding: 6px 30px 4px 8px;
        margin: 5px 0px 5px 5px;
        width: 378px;
        outline: none !important;
        color: #DBDBDB;
        text-shadow: 0px 1px #000;
    }

    .video50-transcript-cancel {
        position: absolute;
        left: 392px;
        top: 5px;
        width: 30px;
        height: 30px;
        background-image: url("/img/video50-icons.png");
        background-position: -330px 0px;
        cursor: default;
            
        &.cancel {
            cursor: pointer;
            background-position: -360px 0px;
        }
    }

    .video50-transcript-icon {
        border: 1px solid #222;
        background-image: url("/img/video50-icons.png");
        @include box-shadow("0px 1px 1px #444");
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        margin: 4px 4px 4px 0px;
        @include transition(.1s linear background-image);
        display: inline-block;
        float: right;
        @include border-radius(3px);
        position: relative;

        &:hover, &:active {
            background-image: url("/img/video50-icons-glow.png");
        }

        &:active, &.active {
            @include box-shadow("0px 1px 1px #444, inset 0px 1px 2px #111");
            @include user-select(none);
        }

        &.video50-transcript-download {
            background-position: -120px 0px;
        }

        &.video50-transcript-download.active {
            .video50-transcript-download-list {
                display: block;
            }
        }

        &.video50-transcript-popout {
            background-position: -300px 0px;
        }
    }
}

.video50-transcript-download-list {
    position: absolute;
    top: 33px;
    right: 0px;
    list-style-type: none;
    background-color: #333;
    @include border-radius(2px);
    border: 1px solid #282828;
    color: #EEE;
    text-shadow: 0px 1px black;
    margin: 0px;
    padding: 0px;
    text-align: right;
    display: none;

    li {
        font-size: 12px;
        padding: 4px 10px;
        display: block;
        border-top: 1px solid #444;
        border-bottom: 1px solid #282828;
        white-space: nowrap;
    
        &:hover {
            color: #BBB;
        }

        &:first-child {
            border-top: 0px;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }
}

.video50-transcript-container {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px 20px;
    overflow: auto;
    font-size: 13px;
    line-height: 20px; 

    a {
        text-decoration: none;
        color: #BBB;
        text-shadow: 0px 1px black;
        
        &.highlight {
            color: #6C9BFF;
        }

        &:hover {
            color: #6C9BFF;
        }
    }
}


.video50-control-list {
    position: absolute;
    bottom: 42px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    list-style-type: none; 
    overflow: auto;
    max-height: 395px;
    text-align: left;
    background-color: #333;
    @include border-radius(2px);
    @include box-shadow(0px 0px 3px #111);
    color: white;
    text-shadow: 0px 1px black;
    display: none;

    li {
        padding: 2px 8px;
        display: block;
        border-top: 1px solid #444;
        border-bottom: 1px solid #282828;
        white-space: nowrap;
        
        &:hover {
            color: #BBB;
        }

        &.active {
            color: #51C0FF;
        }

        &:first-child {
            border-top: 0px;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }
}

.video50-control-toggle {
    font-size: 10px;
    line-height: 18px;
}

.video50-cc-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 30px;

    .video50-cc-text {
        @include background-color(rgba(0, 0, 0, .5));
        font-size: 14px;
        display: inline-block;
        color: white;
        padding: 5px 8px;
        display: none;
    }
}

.video50-error-wrapper {
    font-family: "HelveticaNeue";
    position: relative;
    width: 100%;
    height: 100%;
    @include background-linear-gradient(top, #333, #222); 
}

.video50-error {
    position: absolute;
    padding: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #CCC;
    text-shadow: 0px -1px black; 
    text-align: center;
    
    h1 {
        font-size: 20px;   
    }
}

.video50-supported-browsers {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.video50-browser-icon {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;

    a {
        display: block;
        height: 50px;
        width: 50px;
        background-image: url("/img/browsers.png");
    }

    &.video50-ie a {
        background-position: 0px 0px;
    }

    &.video50-chrome a {
        background-position: -50px 0px;
    }

    &.video50-firefox a {
        background-position: -100px 0px;
    }

    &.video50-opera a {
        background-position: -150px 0px;
    }
    
    &.video50-safari a {
        background-position: -200px 0px;
    }
    
    &.video50-flash a {
        background-position: -250px 0px;
    }

    &:hover {
        .video50-browser-tooltip {
            display: block;
        }
    }
}

.video50-quality.video50-disabled {
    color: #666;
    cursor: not-allowed;
}

.video50-disabled.video50-speed-control {
    opacity: .2;
    cursor: not-allowed;
}

.video50-quality .video50-support-tooltip {
    position: fixed;
    font-size: 10px;
    max-width: 200px;
    background-color: #f2dede;
    color: #b94a48;
    text-shadow: 0 1px #EEE;
    padding: 3px 8px 5px 8px;
    @include border-radius(3px);
    margin-bottom: -21px;
    white-space: normal;
    margin-right: 8px;
    cursor: default;
    font-size: 11px;
    
    a {
        display: inline;
        color: #b94a48;
        font-weight: bold;
        text-decoration: none;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: -8px;
        width: 8px;
    }

    &:after {
        content: '';
        position: absolute;
        right: -6px;
        bottom: 7px;
        border: 4px solid transparent;
        border-left: 4px solid #f2dede; 
    }
}

.video50-browser-tooltip {
    position: absolute;
    font-size: 10px;
    display: none;
    top: 65px;
    left: -30px;
    width: 100px;
    padding: 6px 6px 8px 6px;
    text-shadow: 0px 1px white; 
    @include border-radius(2px);

    &:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 51px;
        border: 4px solid transparent;
    }
}

.video50-red {
    background-color: #f2dede;
    color: #b94a48;
    text-shadow: 0 1px 0 #DDD;

    &:after {
        border-bottom: 4px solid #f2dede; 
    }
}

.video50-yellow {
    background-color: #fcf8e3;
    color: #c09853;

    &:after {
        border-bottom: 4px solid #fcf8e3; 
    }
}

.video50-green {
    background-color: #dff0d8;
    color: #468847;
    
    &:after {
        border-bottom: 4px solid #dff0d8; 
    }
}
