/* ----------------------------------
-- Document Reset
*/
* {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 1rem;
  flex: none;
  line-height: 1;
  border-radius: 0;
  box-sizing: border-box; }

script,
style,
head,
svg#sheet {
  display: none; }

html {
  font-size: 16px;
  background: #121212; }

row- {
  display: flex; }

/* ----------------------------------
-- Core Containers
*/
@media (orientation: landscape) {
  html {
    font-size: 16px; }
  body {
    width: 100%;
    height: 100vh;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    display: flex;
    overflow: hidden; }
  nav {
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: auto;
    height: 5rem;
    padding: 2rem 1.5rem;
    z-index: 10; }
    nav h1 {
      display: flex;
      align-items: center;
      color: #fff; }
      nav h1 svg {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem; }
      nav h1 span {
        font-size: 1.5rem;
        font-weight: 300; }
  main {
    position: fixed;
    z-index: 0;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212; }
    main row- {
      justify-content: space-between;
      width: 100%;
      height: 3rem; }
  control-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: auto;
    transition: all .3s ease;
    transform: translateY(0%);
    background: #121212; }
    control-bar .hidden {
      display: none; }
  main.hidden video-main {
    height: 100%; }
  main.hidden control-bar {
    transform: translateY(100%); }
  dialog-trigger {
    position: fixed;
    top: 0;
    right: 0;
    background: #212121;
    padding: 1rem;
    z-index: 20;
    transition: all .3s ease;
    transform: translateX(0%); }
    dialog-trigger[disabled] {
      display: none !important; }
    dialog-trigger svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: rgba(255, 255, 255, 0.8); }
    dialog-trigger:not(.open).hidden {
      transform: translateX(100%); }
    dialog-trigger:hover svg {
      fill: white; }
    dialog-trigger:not(.open) svg:last-child {
      display: none; }
    dialog-trigger.open svg:first-child {
      display: none; }
  dialog {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 30rem;
    left: auto;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    transition: all .3s ease;
    transform: translateX(100%) rotateZ(360deg); }
    dialog row- {
      position: relative; }
    dialog.open {
      transform: translateX(0) rotateZ(360deg); }
    dialog video-controls {
      display: none; }
  break-toggle {
    padding: 1rem;
    background: #121212;
    color: rgba(255, 255, 255, 0.5); }
    break-toggle label {
      display: flex;
      align-items: center;
      -webkit-user-select: none; }
      break-toggle label > * + * {
        margin-left: .75rem; }
  thumb-preview {
    position: absolute;
    bottom: 5rem;
    left: 100px;
    width: 200px;
    height: 90px;
    opacity: 0;
    background-size: cover;
    z-index: 1; } }

@media (orientation: portrait) {
  body {
    overflow-x: hidden; }
  thumb-preview,
  dialog-trigger {
    display: none; }
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: #212121;
    padding: 0 1rem; }
    nav h1 {
      display: flex;
      align-items: center;
      color: #fff; }
      nav h1 svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem; }
      nav h1 span {
        font-size: 1.5rem;
        font-weight: 300; }
  main {
    position: relative;
    padding-bottom: 57%; }
    main > * {
      position: absolute;
      top: 0;
      left: 0; }
    main row- {
      justify-content: space-between;
      width: 100%;
      position: relative;
      height: 3rem;
      background: #212121; }
    main video-main {
      height: calc(100% - 4rem); }
    main video-download,
    main video-playback {
      display: none; }
  control-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: auto;
    transition: all .3s ease;
    transform: translateY(0%);
    background: #212121; }
    control-bar .hidden {
      display: none; }
  dialog {
    width: 100%;
    background: #121212;
    padding-top: .5rem; } }
  @media (orientation: portrait) and (min-width: 360px) {
    dialog {
      padding: 1rem; } }

@media (orientation: portrait) {
    dialog row- {
      position: relative; }
    dialog marker-list {
      padding: 1rem; }
    dialog.hidden {
      display: none; }
  break-toggle {
    padding: 1rem;
    background: #121212;
    color: rgba(255, 255, 255, 0.5); }
    break-toggle label {
      display: flex;
      -webkit-user-select: none; }
      break-toggle label > * + * {
        margin-left: .75rem; }
  aside {
    position: absolute;
    top: 6rem;
    left: 1rem; }
    aside > * + * h1 {
      border-top: 1px solid #424242; } }

@media (max-width: 480px) {
  html {
    font-size: 14px; } }

/* ----------------------------------
-- Core Elements
*/
input,
button {
  width: auto;
  padding: 1.1rem;
  font-size: 1.1rem; }

button {
  background: #121212;
  color: #f2f2f2; }

youtube-video.active {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4rem;
  right: 0; }
  youtube-video.active button {
    display: none; }

youtube-video:not(.active) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  width: 270px;
  height: 113px;
  top: 2rem;
  left: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2); }
  youtube-video:not(.active) iframe {
    height: 208px; }
  youtube-video:not(.active) button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem; }
    youtube-video:not(.active) button svg {
      width: 1rem;
      height: 1rem;
      fill: #fff; }

/* ----------------------------------
-- Custom Scrollbars
*/
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); }

::-webkit-scrollbar-track {
  background: #121212; }

body {
  scrollbar-face-color: #121212;
  scrollbar-track-color: #121212; }
episode-list {
  display: flex;
  display: none; }
  episode-list button {
    padding: .5rem; }
    episode-list button svg {
      width: 2rem;
      height: 2rem;
      fill: rgba(255, 255, 255, 0.9); }
  episode-list button + button {
    border-left: 1px solid #000; }
  episode-list episode- {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex: 1 1 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }
    episode-list episode-:not(.active) {
      display: none; }
    episode-list episode-:hover {
      cursor: pointer; }
    episode-list episode-.active {
      color: rgba(255, 255, 255, 0.9); }
language-select {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%); }
  @media (orientation: landscape) {
    language-select {
      right: 5rem; } }
  language-select select {
    height: 2rem;
    background: #424242;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #424242; }
marker-list {
  flex: 1 1 auto;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden; }
  marker-list.hidden {
    display: none; }
  @media (orientation: landscape) {
    marker-list {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; } }
  marker-list b {
    display: inline;
    font-size: inherit;
    font-weight: inherit; }
  marker-list mark-:first-child {
    border-top: 0;
    padding-top: 0; }
  marker-list [type='chapter'] {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    marker-list [type='chapter']::after {
      display: block;
      position: absolute;
      top: 1.7rem;
      right: 0;
      color: rgba(255, 255, 255, 0.25); }
    marker-list [type='chapter'] h1 {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer; }
      marker-list [type='chapter'] h1:hover {
        text-decoration: underline; }
    marker-list [type='chapter'] span {
      font-size: .7rem;
      color: rgba(255, 255, 255, 0.75); }
    marker-list [type='chapter'] div {
      flex: 1 1 100%; }
    marker-list [type='chapter'] button {
      padding: .5rem;
      font-size: .5rem; }
      marker-list [type='chapter'] button:hover {
        background: #212121; }
      marker-list [type='chapter'] button:not(.folded)::before {
        content: '\25C0'; }
      marker-list [type='chapter'] button.folded::before {
        content: '\25BC'; }
  marker-list [type='caption'] {
    width: 100%;
    display: flex;
    margin-bottom: .62rem; }
    marker-list [type='caption'].folded:not(.searched):not(.active) {
      display: none; }
    marker-list [type='caption'] a {
      flex: 1 1 auto;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: .8rem;
      color: rgba(255, 255, 255, 0.5); }
      marker-list [type='caption'] a:hover {
        color: rgba(255, 255, 255, 0.7);
        cursor: default;
        text-decoration: underline; }
    marker-list [type='caption'].active a {
      color: #a41034; }
    marker-list [type='caption'] b {
      background: yellow;
      color: #121212; }
    marker-list [type='caption'] span {
      color: #fff;
      font-size: .8rem;
      padding-right: .5rem;
      color: rgba(255, 255, 255, 0.75); }
  marker-list .searched:not(.matched) {
    display: none; }
marker-search {
  position: relative;
  flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.7); }
  marker-search:hover {
    color: rgba(255, 255, 255, 0.9); }
  marker-search input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #212121;
    color: #f2f2f2;
    padding-left: 4.5rem; }
  marker-search > svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
    width: 2.5rem;
    height: 2.5rem; }
  marker-search input:hover ~ svg,
  marker-search input:focus ~ svg {
    fill: rgba(255, 255, 255, 0.9); }
marker-teleprompter {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 5rem;
  width: 100%;
  display: flex;
  transform: translateY(0);
  transition: all .3s; }
  marker-teleprompter.hidden {
    display: none; }
  marker-teleprompter b {
    display: inline;
    font-size: inherit;
    font-weight: inherit; }
  marker-teleprompter [type='chapter'] {
    display: none; }
  marker-teleprompter [type='caption'] {
    margin: auto;
    max-width: 100%;
    width: auto;
    background: rgba(0, 0, 0, 0.7); }
    marker-teleprompter [type='caption'] a {
      font-size: calc(.5rem + 1vw);
      line-height: 1.5;
      text-decoration: none;
      text-align: center;
      padding: calc(.5rem + .5vw);
      color: #fff;
      max-width: 70ex; }
    marker-teleprompter [type='caption'] span, marker-teleprompter [type='caption']:not(.active) {
      display: none; }

main.hidden marker-teleprompter {
  transform: translateY(3rem); }
marker-timeline {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 1.1rem;
  background: #333;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  z-index: 1; }
  marker-timeline [type='chapter'] {
    position: relative;
    display: block;
    width: .25rem;
    background: #222; }
    marker-timeline [type='chapter']:hover {
      background: #111; }
      marker-timeline [type='chapter']:hover::after {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -125%);
        background: #000;
        padding: 5px;
        z-index: 9999;
        white-space: nowrap; }
    marker-timeline [type='chapter']:nth-of-type(1):hover::after, marker-timeline [type='chapter']:nth-of-type(2):hover::after, marker-timeline [type='chapter']:nth-of-type(3):hover::after {
      transform: translate(0%, -125%); }
    marker-timeline [type='chapter']:nth-last-of-type(1):hover::after, marker-timeline [type='chapter']:nth-last-of-type(2):hover::after, marker-timeline [type='chapter']:nth-last-of-type(3):hover::after {
      transform: translate(-100%, -125%); }
  marker-timeline [type='caption'] {
    position: relative;
    display: block;
    background: #333; }
    marker-timeline [type='caption'].active::after, marker-timeline [type='caption']:hover::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #121212;
      z-index: 2;
      min-width: 3px; }
    marker-timeline [type='caption'].active::after {
      background: #a41034; }
    marker-timeline [type='caption'].searched.matched {
      border-left: 1px solid yellow; }
  marker-timeline span {
    display: none !important; }
thumb-preview {
  position: relative; }
  thumb-preview::after {
    content: attr(data-time);
    position: absolute;
    padding: .5rem;
    font-size: .75rem;
    bottom: 0;
    background: #212121; }
video-controls {
  display: flex; }
  video-controls > * + * {
    border-left: 1px solid #000; }
  video-controls [disabled] {
    display: none !important; }
  video-controls button {
    padding: .75rem;
    background: #212121; }
    video-controls button svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: rgba(255, 255, 255, 0.8); }
    video-controls button:hover svg {
      fill: white; }
  video-controls .video-play-pause.playing svg:first-child {
    display: none; }
  video-controls .video-play-pause:not(.playing) svg:last-child {
    display: none; }
  video-controls .video-captions.active {
    background: #a41034; }

video-controls.mobile button {
  padding: 1rem; }

video-controls.mobile .seek-play-pause {
  display: none; }
video-download {
  position: relative; }
  video-download > button:hover ~ div,
  video-download div:hover {
    position: absolute;
    bottom: 100%;
    display: block;
    z-index: 10;
    left: -15px; }
  video-download a {
    background: #212121;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5); }
    video-download a:hover {
      background: #424242;
      color: white; }
  video-download div {
    display: none; }
video-main {
  width: 100%;
  height: 100%; }
  @media (orientation: landscape) {
    video-main::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent; } }
video-playback {
  position: relative;
  display: flex; }
  video-playback button.active {
    background: #a41034;
    color: #fff; }
  video-playback button {
    padding: 1rem;
    font-size: .8rem;
    user-select: none;
    color: rgba(255, 255, 255, 0.5); }
    video-playback button:hover {
      color: rgba(255, 255, 255, 0.8); }
video-timeout {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  video-timeout section {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center; }
    video-timeout section > * + * {
      margin-top: 2rem; }
  video-timeout div {
    display: flex;
    margin-left: auto;
    margin-right: auto; }
    video-timeout div > * + * {
      margin-left: .5rem; }
  video-timeout h1 {
    font-size: 3rem; }
  video-timeout h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgba(255, 255, 255, 0.5); }
  video-timeout button {
    color: rgba(255, 255, 255, 0.5); }
    video-timeout button:hover {
      color: rgba(255, 255, 255, 0.8); }
  video-timeout span {
    display: inline; }
  video-timeout.hidden {
    display: none; }
  video-timeout .continue-no-breaks {
    background: transparent;
    padding: 0;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5); }
video-timer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #999; }
  video-timer span {
    font-size: .75rem;
    display: inline; }
