marker-list {
  flex: 1 1 auto;
  padding: 1.5rem;
  background: rgba(0,0,0,.9);
  overflow-x: hidden;

  &.hidden {
    display: none;
  }

  @media (orientation: landscape) {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  b {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
  }

  mark-:first-child {
    padding-top: 0;
  }

  [type='chapter'] {
    position: relative;
    display: block;
    padding: 1rem 0;
    &:hover h1 {
      text-decoration: underline;
    }

    &::after {
      display: block;
      position: absolute;
      top: 1.7rem;
      right: 0;
      color: rgba(255,255,255,0.25);
    }

    &:not(.folded) {
      &::after {
        content: '▼';
      }
    }
    &.folded::after {
      content: '◀';
    }
    h1 {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      color: rgba(255,255,255,.8);
    }
    span {
      font-size: .7rem;
      color: rgba(255,255,255,.75);
    }
  }

  [type='caption'] {
    width: 100%;
    display: flex;
    margin-bottom: .62rem;
    &.folded:not(.searched):not(.active) {
      display: none;
    }
    a {
      flex: 1 1 auto;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: .8rem;
      color: rgba(255,255,255,.5);
      &:hover {
        color: rgba(255,255,255,.7);
        cursor: default;
        text-decoration: underline;
      }
    }
    &.active a {
      color: #a41034;
    }
    b {
      background: yellow;
      color: #121212;
    }
    span {
      color: #fff;
      font-size: .8rem;
      padding-right: .5rem;
      color: rgba(255,255,255,0.75);
    }
  }

  .searched:not(.matched) {
    display: none;
  }
}
