marker-list {
  padding: 1.5rem;
  //max-height: 50vh;
  //overflow-y: auto;
  margin: 0 1rem;
  background: rgba(0,0,0,.8);

  [type='chapter'] {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 1rem;
    h1 {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: .5rem;
      color: rgba(255,255,255,.9);
    }
    span {
      font-size: .7rem;
      color: rgba(255,255,255,.75);
    }
  }
  [type='caption'] {
    display: block;
    color: rgba(255,255,255,.5);
    margin-bottom: .62rem;
    span {
      font-size: .8rem;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: rgba(255,255,255,.7);
        cursor: default;
        text-decoration: underline;
      }
    }
    &.active span {
      color: #a41034;
    }
  }
  b {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    background: yellow;
    color: #000;
  }
}
