experience-modes {
  position: absolute;
  bottom: 5rem;
  top: auto;
  left: 1rem;
  display: flex;
  transition: transform .3s;

  @media (orientation: portrait) {
    display: none;
  }

  .mouse-idle & {
    transform: translateY(5rem);
  }

  [active] {
    background: #a41034;
    color: #fff;
  }

  button {
    position: relative;
    padding: 1rem;
    font-size: .8rem;
    user-select: none;
    color: rgba(255,255,255,0.5);
    background-color: #121212;

    svg {
      width: 1rem;
      height: 1rem;
      fill: #fff;
    }

    &:hover {

      &::after {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        background: #212121;
        display: block;
        white-space: nowrap;
        font-size: 1rem;
        padding: .38rem;
        transform: translateY(-120%);
        color: #fff;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: .5rem;
        height: .5rem;
        background: #212121;
        transform: rotate(45deg) translateY(-.8rem);
      }

    }

    &:not([active]):hover {
      background-color: #212121;
    }
  }
}
