playback-rates {
  position: relative;
  display: flex;

  button.active {
    background: #a41034;
    color: #fff;
  }

  button {
    width: 3rem;
    font-size: .8rem;
    user-select: none;
    color: rgba(255,255,255,0.5);

    &:hover {
      color: rgba(255,255,255,0.8);
    }
  }
}
