marker-timeline {

  position: absolute;
  top: auto;
  bottom: 3rem;

  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 1.1rem;
  background: #333;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.5);
  z-index: 1;

  [type='chapter'] {
    position: relative;
    display: block;
    width: .5rem;
    background: rgba(0,0,0,0.3);
    &:hover {
      background: rgba(0,0,0,0.5);
    }
  }

  [type='caption'] {
    display: block;
    background: rgba(0,0,0,0.1);
    &:hover {
      background: rgba(0,0,0,0.2);
    }
    &.searched.matched {
      border-left: 1px solid rgba(255,255,255,0.1);
    }
    &.active {
      min-width: 2px;
      background: #a41034;
    }
  }

  span {
    display: none !important;
  }
}
