marker-timeline {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 1.1rem;
  background: #333;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.5);
  z-index: 1;

  [type='chapter'] {
    position: relative;
    display: block;
    width: .25rem;
    background: #222;
    &:hover {
      background: #111;
      &::after {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -125%);
        background: #000;
        padding: 5px;
        z-index: 9999;
        white-space: nowrap;
      }
    }
    &:nth-of-type(1):hover::after,
    &:nth-of-type(2):hover::after,
    &:nth-of-type(3):hover::after {
      transform: translate(-0%, -125%);
    }
    &:nth-last-of-type(1):hover::after,
    &:nth-last-of-type(2):hover::after,
    &:nth-last-of-type(3):hover::after {
      transform: translate(-100%, -125%);
    }
  }

  [type='caption'] {
    display: block;
    background: #333;
    &:hover {
      background: #111;
    }
    &.searched.matched {
      border-left: 1px solid yellow;
    }
    &.active {
      min-width: 2px;
      background: #a41034;
    }
  }

  span {
    display: none !important;
  }
}
