marker-teleprompter {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 5rem;
  width: 100%;
  display: flex;
  transform: translateY(0);
  transition: all .3s;

  &.hidden {
    display: none;
  }

  b {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
  }

  [type='chapter'] {
    display: none;
  }

  [type='caption'] {
    margin: auto;
    max-width: 100%;
    a {
      font-size: calc(.5rem + 1vw);
      line-height: 1.5;
      text-decoration: none;
      text-align: center;
      padding: calc(.5rem + .5vw);
      color: #fff;
      max-width: 70ex;
    }
    width: auto;
    background: rgba(0,0,0,0.7);
    span,
    &:not(.active) {
      display: none;
    }
  }
}

main.hidden marker-teleprompter {
  transform: translateY(3rem);
}
