video-exp {
  position: absolute;
  display: none;

  [experience='ex'] &.showing {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    width: 25%;
    overflow: hidden;
    z-index: 2;
    border: 2px solid #212121;

    @media (orientation: portrait) {
      display: none;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 42%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
    }

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 250%;
      transform: translate(-50%, -50%);
    }
  }

  captions- {
    position: absolute;
    top: auto;
    bottom: .25rem;
    right: 0;
    left: 0;
    display: flex;
    font-size: calc(6px + .1vmin);

    &.hidden {
      display: none;
    }

    div {
      margin: auto;
      max-width: 100%;
      font-size: inherit;
    }

    a {
      font-size: 1em;
      line-height: 1.5;
      text-decoration: none;
      text-align: center;
      padding: calc(.1rem + .25vw);
      color: #fff;
      max-width: 100%;
      margin: 0 auto;
      background: rgba(0,0,0,.8);
    }
  }

  &:hover resize-  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background: #212121;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #a41034;
    }

    &::after {
      content: '\2198';
      color: rgba(255,255,255,.8);
      font-size: 12px;
    }
  }

}
