<!DOCTYPE html>

<html>
    <head>

        <!-- https://github.com/jwplayer/jwplayer/blob/master/README.md -->
        <script src="/static/jwplayer.js"></script>

        <style>

            html, body {
                height: 100%;
                margin: 0;
                overflow: hidden;
            }

            #player {
                height: 100%;
                width: 100%;
            }

            /* https://support.jwplayer.com/customer/portal/questions/16706818-jw-7-7-disable-rewind-icon-in-controlbar */
            .jw-icon-volume {
                display: none !important;
            }

        </style>

        <title>CS50 Video</title>

    </head>
    <body>
        <div id="player"></div>
        <script>

            var player = jwplayer('player').setup({
                autostart: true,
                file: 'https://www.youtube.com/watch?v=y62zj9ozPOM',
                /* file: 'https://cdn.cs50.net/2017/fall/lectures/0/lecture0-720p.mp4', */
                height: '100%',
                /* image: '', */
                playbackRateControls: [0.75, 1, 1.5, 2, 3],
                width: '100%'
            });

        </script>
    </body>
</html>
