thumb-preview {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 3px solid #212121;
  z-index: 10;
  &::after {
    content: attr(data-time);
    position: absolute;
    padding: .5rem;
    font-size: .75rem;
    bottom: 0;
    background: #212121;
    color: #fff;
  }
}
