thumb-preview {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 3px solid #212121;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &::after {
    content: attr(data-time);
    padding: .4rem .4rem .2rem;
    font-size: .75rem;
    background: #212121;
    color: #fff;
    text-align: center;
  }
}
