break-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,.9);

  section {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;

    > *+* {
      margin-top: 2rem;
    }
    @media (orientation: portrait) {
      > *+* {
        margin-top: 1rem;
      }
    }
  }

  div {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    > *+* {
      margin-left: 1px;
    }
  }

  &:not(.stopped) div {
    padding-top: .3rem;
    &::before {
      -webkit-animation: animatedBackground 10s linear infinite;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: transparent;
      pointer-events: none;
      border-top: .3rem solid #a41034;
    }
  }

  h1 {
    font-size: 3rem;
    color: #fff;

    @media (orientation: portrait) {
      font-size: 2rem;
    }
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgba(255,255,255,0.25);
  }

  button {
    background: #121212;
    color: rgba(255,255,255,0.8);
    &:hover {
      background: #212121;
      color: rgba(255,255,255,1);
    }
  }

  span {
    display: inline;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(255,255,255,0.8);
    &:hover { fill: rgba(255,255,255,1); }
  }

  break-toggle {
    width: auto;
    margin: 0 auto;
    background: transparent;
    padding: 0;
    margin-top: 1rem;
  }
}

@keyframes animatedBackground {
	from { width: 0; }
	to { width: 100%; }
}
