/* ----------------------------------
-- Document Reset
*/

* {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 1rem;
  flex: none;
  line-height: 1;
  border-radius: 0;
  box-sizing: border-box;
}

script,
style,
head,
sprite-sheet {
  display: none;
}

html {
  font-size: 16px;
  background: #121212;
}

row- {
  display: flex;
}

/* ----------------------------------
-- Core Containers
*/

@media (orientation: landscape) {

  html {
    font-size: 16px;
  }

  body {
    width: 100%;
    height: 100vh;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    display: flex;
    overflow: hidden;
  }

  nav {
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: auto;
    height: 5rem;
    padding: 2rem 1.5rem;
    z-index: 10;

    h1 {
      display: flex;
      align-items: center;
      color: #fff;

      svg {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
      span {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }

  main {
    position: fixed;
    z-index: 0;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;

    row- {
      justify-content: space-between;
      width: 100%;
      position:absolute;
      bottom: 0;
      height: 3rem;
    }
  }

  dialog-trigger {
    position: fixed;
    top: 0;
    right: 0;
    background: #212121;
    padding: 1rem;
    z-index: 20;
    transition: all .3s ease;
    transform: translateX(0%);;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: rgba(255,255,255,0.8);
      display: none;
    }

    &.hidden {
      transform: translateX(100%);;
    }

    &:hover svg {
      fill: rgba(255,255,255,1);
    }

    &:not(.open) svg:first-child {
      display: block;
    }

    &.open svg:last-child {
      display: block;
    }

    &:not(.open) + dialog {
      transform: translateX(100%) rotateZ(360deg);
    }
  }

  dialog {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 30rem;
    left: auto;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    transition: all .3s ease;
    transform: translateX(0) rotateZ(360deg);

    row- {
      position: relative;
    }

    video-controls {
      display: none;
    }
  }

  thumb-preview {
    position: absolute;
    bottom: 5rem;
    left: 100px;
    background: red;
    width: 200px;
    height: 90px;
    opacity: 0;
    background-size: cover;
    z-index: 1;
  }
}

@media (orientation: portrait) {

  body {
    overflow-x: hidden;
  }

  thumb-preview,
  dialog-trigger {
    display: none;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: #212121;
    padding: 0 1rem;

    h1 {
      display: flex;
      align-items: center;
      color: #fff;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
      }
      span {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }

  main {
    position: relative;
    padding-bottom: 57%;

    > * {
      position: absolute;
      top: 0;
      left: 0;
    }

    row- {
      justify-content: space-between;
      width: 100%;
      position:absolute;
      top: auto;
      bottom: 0;
      height: 3rem;
      background: #212121;
    }

    video-download,
    video-playback,
    .video-fullscreen {
      display: none;
    }
  }

  dialog {
    width: 100%;
    background: #121212;
    padding: 1rem;

    row- {
      position: relative;
    }

    marker-list {
      padding: 1rem;
    }
  }

  aside {
    position: absolute;
    top: 6rem;
    left: 1rem;

    > *+* h1 {
      border-top: 1px solid #424242;
    }
  }

}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

/* ----------------------------------
-- Core Elements
*/

input,
button {
  width: auto;
  padding: 1.1rem;
  font-size: 1.1rem;
}

button {
  background: #121212;
  color: #f2f2f2;
}

youtube-video.active {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4rem;
  right: 0;
  button {
    display: none;
  }
}

youtube-video:not(.active) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  width: 270px;
  height: 113px;
  top: 2rem;
  left: 2rem;
  border: 1px solid rgba(255,255,255,0.2);

  iframe {
    height: 208px;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    svg {
      width: 1rem;
      height: 1rem;
      fill: #fff;
    }
  }
}

/* ----------------------------------
-- Custom Scrollbars
*/

@mixin scrollbars($size, $color) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,0.25);
  }

  ::-webkit-scrollbar-thumb:hover {
      background: rgba(255,255,255,0.5);
  }

  ::-webkit-scrollbar-track {
      background: $color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $color;
    scrollbar-track-color: $color;
  }
}

@include scrollbars(1rem, #121212);
