video-controls {
  display: flex;

  button {
    padding: .75rem;
    background: #212121;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: rgba(255,255,255,0.8);
    }
    &:hover svg {
      fill: rgba(255,255,255,1);
    }
    & + button {
      border-left: 1px solid #000;
    }
  }
  .play-pause.playing {
    svg:first-child {
      display: none;
    }
  }
  .play-pause:not(.playing) {
    svg:last-child {
      display: none;
    }
  }
}

video-controls.mobile {

  button {
    padding: 1rem;
  }

  .seek-play-pause {
    display: none;
  }
}
