chapter-timeline {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 34px;
    height: 1rem;
    background: #424242;
    >*+* {
      border-left: 1px solid rgba(255,255,255,0.1);
    }

    chapter- {
      position: relative;
      z-index: 2;
      flex: 1;
      background: rgba(0,0,0,0.8);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background: #fff;
        pointer-events: none;
      }

      &:hover::after {
        content: attr(data-title);
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        background: rgba(0,0,0,0.9);
        color: #fff;
        pointer-events: none;
        font-size: .75rem;
        padding: .5rem;
      }

      subtitles- {
        display: flex;
        width: 100%;
        height: 100%;
      }
      
      phrase- {
        display: block !important;
        flex: 1;
        align-self: stretch;

        &.matched {
          background: darken(#891830, 10%);
        }

        p {
          display: none;
        }

        &:hover {
          background: rgba(255,255,255,0.5);
        }

        &.active {
          min-width: .5rem;
          background: #891830;
        }
      }
    }
}
