video-main {
  width: 100%;
  height: 100%;

  @media (orientation: landscape) {
    &:not([camera='vr'])::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
    }
  }
}
