marker-search {
  position: relative;
  flex: 1 1 auto;
  input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    border: 1px solid rgba(0,0,0,0.1);
    background: #212121;
    color: #f2f2f2;
    padding-left: 4rem;
  }
  > svg {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba(255,255,255,0.5);
    width: 1.5rem;
    height: 1.5rem;
  }

  input:hover ~ svg,
  input:focus ~ svg {
    fill: rgba(255,255,255,0.9);
  }
}
